doctype 5
html
  head
    title= title
    link (rel="stylesheet", href="/stylesheets/bootstrap.min.css")
    link (rel="stylesheet", href="/stylesheets/bootstrap-theme.min.css")
    script(src="/javascripts/jquery.min.js")

    script(src="/javascripts/bootstrap.min.js")
    script(src="/javascripts/underscore.min.js")
    script(src="/socket.io/socket.io.js")
    script(src="/dronestream/nodecopter-client.js")
    script(src="/javascripts/droneUI.js")
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    block content